@{
    ViewBag.Title = "SearchByDirector";
}

<h2>SearchByDirector</h2>
<form method="post" action="/Movie/SearchByDirector">
    <label for="directorName">Enter Director Name:</label>
    <input type="text" name="directorName" id="directorName" required />
    <input type="submit" value="Search" />
</form>
