
@{
    ViewBag.Title = "SearchByYear";
}

<h2>SearchByYear</h2>
<form method="post" action="/Movie/SearchByYear">
    <label for="year">Enter Year:</label>
    <input type="number" name="year" id="year" required />
    <input type="submit" value="Search" />
</form>
